{% extends "base.html" %}

{% block content %}
    {#    <label for="r1">修改颜色</label>#}
    {#    <input type="checkbox" v-model="use" id="r1">#}
    {#    <br><br>#}
    {#    <div v-bind:class="{'class1':use}">#}
    {#        v-bind:class 指令#}
    {#    </div>#}
    {#    <pre><a v-bind:href="url">菜鸟教程</a></pre>#}
    {#    <div v-on:click="dome"  v-text="message" id="func"></div>#}
    {#    <p v-text="message"></p>#}
    {#    <input type="text" v-model="message">#}
    {#        <ol>#}
    {#            <li v-for="(key,value,index) in sites" v-text="index+1+'.'+value+':'+key"></li>#}
    {#        </ol>#}
    {#    <button @click="dome">确定</button>#}
{#    <div v-for="iphone in iphones">#}
{#    <p>[[iphone.name]]</p>#}
{#    <button v-bind:disabled="iphone.count === 0" v-on:click="iphone.count-=1">-</button>#}
{#    [[iphone.count]]#}
{#    <button  v-on:click="iphone.count+=1">+</button>#}
{#    </div>#}
{#    <div>总价[[sumprice()]]</div>#}
{#    <select v-model="mys">#}
{#        <option v-for="i in da" v-bind:value="i">[[i]]</option>#}
{#    </select>#}
{#    <p>[[mys]]</p>#}
  <button class="btn btn-primary" @click="change">更新</button>
{#    <input v-model.lazy="msg" >#}

{% endblock %}
