v-html="<h1>aaa</h1>" 会解释html标记。
v-bind:class="class",指定元素类名。
v-bind:id="id",指定元素id名，双引号里都可以是变量。
v-bind:herf="url",指定网址。等于:herf="url"
v-bind:disabled v-bind:后面接html属性=“”里使用表达式
v-if="func",如果真，显示元素，否则不显示。后面可以跟
v-else=""或v-else-if=""
v-on:click="desomething",点击事件处理函数dosomething.等于@click="desomething"
dosomething()还可以传递参数
v-show="",感觉类似于v-if
v-for="site in sites",循环输出,配合flask可以用v-text,
v-for="(value,key) in objects",遍历对象，值在前，键在后,
跟v-text配合使用时位v-text="key+':'+value"这种操作。
v-for="(key,value,index) in sites" v-text="index+1+'.'+value+':'+key">
v-for="n in 5" 从1到5.
v-text=""里面可以使用函数返回值,并且函数可以传参数
v-text="rmessage(site)"
v-model=""绑定变量，根据变量值的变化而变化
computed属性在“VM对象”没变化时会直接读取缓存而不再重新计算。
watch属性监听变量值的变化，如果变化，就把值传给值同名的函数处理。
v-bind:class=""可以传入数组，对象，computed返回值，其中后3种都根据计算结果确定是否传入值
v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }"直接使用内联样式
还可以直接传入对象。

<!-- 阻止单击事件冒泡 -->
<a v-on:click.stop="doThis"></a>
<!-- 提交事件不再重载页面 -->
<form v-on:submit.prevent="onSubmit"></form>
<!-- 修饰符可以串联  -->
<a v-on:click.stop.prevent="doThat"></a>
<!-- 只有修饰符 -->
<form v-on:submit.prevent></form>
<!-- 添加事件侦听器时使用事件捕获模式 -->
<div v-on:click.capture="doThis">...</div>
<!-- 只当事件在该元素本身（而不是子元素）触发时触发回调 -->
<div v-on:click.self="doThat">...</div>

<!-- click 事件只能点击一次，2.1.4版本新增 -->
<a v-on:click.once="doThis"></a>
整理表单数据并json
var params=new Object();
params.username=this.username;
params.age=this.age;
params.checked=this.checked;
params.checkedNames=this.checkedNames;
alert("formdata："+JSON.stringify(params));
}
}

{#    <label for="r1">修改颜色</label>#}
    {#    <input type="checkbox" v-model="use" id="r1">#}
    {#    <br><br>#}
    {#    <div v-bind:class="{'class1':use}">#}
    {#        v-bind:class 指令#}
    {#    </div>#}
    {#    <pre><a v-bind:href="url">菜鸟教程</a></pre>#}
    {#    <div v-on:click="dome"  v-text="message" id="func"></div>#}
    {#    <p v-text="message"></p>#}
    {#    <input type="text" v-model="message">#}
    {#        <ol>#}
    {#            <li v-for="(key,value,index) in sites" v-text="index+1+'.'+value+':'+key"></li>#}
    {#        </ol>#}
    {#    <button @click="dome">确定</button>#}
    {#    <div v-for="iphone in iphones">#}
    {#    <p>[[iphone.name]]</p>#}
    {#    <button v-bind:disabled="iphone.count === 0" v-on:click="iphone.count-=1">-</button>#}
    {#    [[iphone.count]]#}
    {#    <button  v-on:click="iphone.count+=1">+</button>#}
    {#    </div>#}
    {#    <div>总价[[sumprice()]]</div>#}
    {#    <select v-model="mys">#}
    {#        <option v-for="i in da" v-bind:value="i">[[i]]</option>#}
    {#    </select>#}
    {#    <p>[[mys]]</p>#}

    {#    <input v-model.lazy="msg" >#}

print sheet2.cell(1,0).value.encode('utf-8')
  print sheet2.cell_value(1,0).encode('utf-8')
  print sheet2.row(1)[0].value.encode('utf-8')

  # 获取单元格内容的数据类型
  print sheet2.cell(1,0).ctype

if __name__ == '__main__':

